% set interfaces = importInterfaces(operations) %}


public class {{ucFirst(operation_name)}}Service {
{% for op in operations -%}
    {% for method, path in op.path -%}
        {% if isValidMethod(method)%}

        public {{ path.operationId }} ({{ pathParamsToDomainParams(method, path, true) }}Dto){

        }

    {% endif %}
  {%- endfor %}
{%- endfor %}
}